[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cgam"]
	path = cgam
	url = https://github.com/cran/cgam
[submodule "csurvey"]
	path = csurvey
	url = https://github.com/cran/csurvey
[submodule "ShapeSelectForest"]
	path = ShapeSelectForest
	url = https://github.com/cran/ShapeSelectForest
